<main id="main" class="main container">
    <div class="pagetitle">
       <h1>Frequently Asked Questions</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/" style="text-decoration: none;">Home</a></li>
             <li class="breadcrumb-item">Pages</li>
             <li class="breadcrumb-item active">Frequently Asked Questions</li>
          </ol>
       </nav>
    </div>
    <section class="section faq">
       <div class="row">
          <div class="col-lg-6">
             <div class="card basic">
                <div class="card-body">
                   <h5 class="card-title">Basic Questions</h5>
                   <div>
                      <h6>1.What Is Angular?</h6>
                      <p>Angular was introduced to create Single Page applications. This framework brings structure and consistency to web applications and provides excellent scalability and maintainability. </p>
                   </div>
                   <div class="pt-2">
                      <h6>2. What is TypeScript?</h6>
                      <p>TypeScript is a superset of JavaScript that offers excellent consistency. It is highly recommended, as it provides some syntactic sugar and makes the code base more comfortable to understand and maintain.</p>
                   </div>
                   <div class="pt-2">
                      <h6>3. What is data binding?</h6>
                      <p>Data binding is a phenomenon that allows any internet user to manipulate Web page elements using a Web browser. It uses dynamic HTML and does not require complex scripting or programming. We use data binding in web pages that contain interactive components such as forms, calculators, tutorials, and games.</p>
                   </div>
                </div>
             </div>
          </div>
       <div class="col-lg-6">
        <div class="card">
           <div class="card-body">
              <h5 class="card-title">About Angular Questions?</h5>
              <div class="accordion accordion-flush" id="faq-group-2">
                 <div class="accordion-item">
                    <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsTwo-1" type="button" data-bs-toggle="collapse"> What are Single Page Applications (SPA)?</button></h2>
                    <div id="faqsTwo-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                       <div class="accordion-body"> Single-page applications are web applications that load once with new features just being mere additions to the user interface. It does not load new HTML pages to display the new page's content, instead generated dynamically. This is made possible through JavaScript's ability to manipulate the DOM elements on the existing page itself.</div>
                    </div>
                 </div>
                 <div class="accordion-item">
                    <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsTwo-2" type="button" data-bs-toggle="collapse"> What are Directives in Angular? </button></h2>
                    <div id="faqsTwo-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                       <div class="accordion-body"> Directives are attributes that allow the user to write new HTML syntax specific to their applications. They execute whenever the Angular compiler finds them in the DOM. Angular supports three types of directives.<br>

                        1.Component Directives<br>
                        2.Structural Directives<br>
                        3.Attribute Directives </div>
                    </div>
                 </div>
                 <div class="accordion-item">
                    <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsTwo-3" type="button" data-bs-toggle="collapse"> What is an ngModule? </button></h2>
                    <div id="faqsTwo-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                       <div class="accordion-body"> NgModules are containers that reserve a block of code to an application domain or a workflow. @NgModule takes a metadata object that generally describes the way to compile the template of a component and to generate an injector at runtime. In addition, it identifies the module's components, directives, and pipes, making some of them public, through the export property so that external components can use them.</div>
                    </div>
                 </div>
                 <div class="accordion-item">
                    <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsTwo-4" type="button" data-bs-toggle="collapse"> What are controllers? </button></h2>
                    <div id="faqsTwo-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                       <div class="accordion-body"> AngularJS controllers control the data of AngularJS applications. They are regular JavaScript Objects. The ng-controller directive defines the application controller.</div>
                    </div>
                 </div>
                 <div class="accordion-item">
                    <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsTwo-5" type="button" data-bs-toggle="collapse">Explain the @Component Decorator? </button></h2>
                    <div id="faqsTwo-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                       <div class="accordion-body">TypeScript class is one that is used to create components. This genre of class is then decorated with the "@Component" decorator. The decorato’s purpose is to accept a metadata object that provides relevant information about the component.  
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
    </div>
       </div>
    </section>
</main>

